
// Colors
$primary-color: #fff;
$secondary-color: #000;
$button-hover-color: rgb(244, 243, 243);

// Typography
$navigation-link-font: 'Roboto', arial, sans-serif;
$navigation-link-font-size: 20px;
$navigation-link-font-weight: 500;

// Responsive Design Breakpoints
$breakpoint-tablet: 800px;