@use "../../../styles/variables.scss" as vars;

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: fixed;
  right: 20px;
  top: 80px;
  background: vars.$modal-color;

  a {
    font-family: vars.$navigation-link-font;
    font-size: vars.$navigation-link-font-size;
    font-weight: vars.$navigation-link-font-weight;
    color: vars.$secondary-color;
    text-decoration: none;
  }

  .buttonHover {
    transition: background-color 0.3s ease, transfrom 0.3s ease;
    padding: 10px 20px;
}


.buttonHover:hover {
    background-color: vars.$button-hover-color;
    cursor: pointer;
}

}
